<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="FaxDownloadLimit" value="1000" />
    <add key="DIDAddPreFix" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="basicHttpBehaviour">
          <serviceDebug includeExceptionDetailInFaults="False" />
          <serviceMetadata httpGetEnabled="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" />
      </basicHttpBinding>
      <mexNamedPipeBinding>
        <binding name="NamedPipeBinding" />
      </mexNamedPipeBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="basicHttpBehaviour" name="OpenFax.StatusService">
        <!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
          name="basicHttpBindingEndPoint" contract="OpenFax.IStringReverser" />-->
        <endpoint address="" binding="netNamedPipeBinding" contract="OpenFax.IStatusService" />
        <endpoint address="mex" contract="IMetadataExchange" binding="mexNamedPipeBinding" />
        <!--<endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="basicMexBindingEndPoint" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <!--<add baseAddress="http://localhost:8000/reverse" />-->
            <add baseAddress="net.pipe://localhost/sendstatus" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.net>
    <connectionManagement>
      <add maxconnection = "200" address ="*" />
    </connectionManagement>
  </system.net>
</configuration>